CompileFlags:
  Add:
    - "-DARDUINO=10819"
    - "-DESP32"
    - "-DARDUINO_ARCH_ESP32"
    - "-I./New folder/hardware/wokwi/firmware/stubs"
    - "-I./hardware/wokwi/firmware/stubs"

Diagnostics:
  Suppress:
    - "drv_compilation_diag_expected_single_input"
